# Cache do Pytest
.pytest_cache/

# Bytecode do Python (muito importante ignorar)
__pycache__/
*.pyc

# Arquivos de cobertura de testes (se usar pytest-cov)
.coverage
htmlcov/

# Aquivo de 10MB
tests/pytest/tests/files/text_10mb.txt
# Aquivo de 100MB
tests/pytest/tests/files/text_100mb.txt
# Aquivo de 50MB
tests/pytest/tests/files/text_50mb.txt
# Aquivo de video
tests/pytest/tests/files/video.mp4
